* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "Press Start 2P";
	src: url("fonts/BebasNeue-Regular.ttf") format("truetype");
}



.navbar{
    width: 100%;
    height: 120px;
    background-color: black;
}

.navbar img{
    width: 120%;
    height: 100%;
    border-radius: 20px;
    padding: 15px;
    background-color: black;
    flex-wrap: wrap;
}


.navbar h1{
    margin-top: 30px;
    margin-left: 30px;
    color: antiquewhite;
    text-align: left;
    
}

.navbar ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 40px;
    color: antiquewhite;
    list-style: none;
}

.navbar ul>li{
    color: bisque;
}

.navbar a{
    color: bisque;
}


.summary{
 height: 100px;
    width: 100%;
    background-color: antiquewhite;
}

.summary h2{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
}


.summary .titles{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.transaction{
    height: 70px;
    margin-top: 20px;
    background-color: antiquewhite;
}

.transaction h2{
text-align: center;
    margin-top: 20px;
    background-color: antiquewhite;
}

.transaction form{
    height: 70px;
    margin-top: 20px;
    background-color: antiquewhite;
}

.history{
    margin-top: 60px;
    background-color: antiquewhite;
    padding: 30px;
}

.history table{
    height: 50%;
}


.history h2{
    height: 50%;
    text-align: center;
}